/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --dark-blue: #289efd;
  --pink: #ed1575;
  --dark-color: #2b2350;
  --color-accent: #61ce70;
  --black: #000;
  --purple: #551a8b;
  --white: #fff;
  --light-font-color: #7085a6;
  --section-background: #f1f8fb;
  --section-padding: 5% 8%;
}

:root {
  --primary-color: var(--dark-color);
  --secondary-color: var(--pink);
  --primary-lighter-color: #f1f8fb;
}

#btop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--pink);
  color: white;
  cursor: pointer;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  animation: up-down 1s infinite alternate;
  transition: all 0.3s;
}

#btop:hover {
  background-color: var(--dark-color);
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
}
.text-bold{
  font-weight: bold;
 }
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

#bottom_call{
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--pink);
  color: white;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 10px 10px;
}

#bottom_call a{
  display: flex;
  align-items: center;
  color: white;
}

#bottom_call a i{
  font-size: 24px;
}
@media (max-width:600px){
  .btn_call_number{
  display: none;
  }
}

/* uitlity */
.width-100 {
  width: 100%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}
.light-grey {
  color: #686969;
}
.section-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2%;
  color: var(--dark-color);
  line-height: 1.2;
  margin-top: 10px;
}
p.p-pink {
  color: var(--pink);
  font-weight: 600;
  font-size: 17px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.section-background {
  background-color: #f1f8fb;
}
p.p-pink::before {
  left: -43px;
}
p.p-pink::after {
  right: -43px;
}
p.p-pink::before,
p.p-pink::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  width: 40px;
  height: 2.5px;
  background-color: var(--pink);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.main-heading {
  font-size: 35px;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
}

.sub-heading {
  font-size: 28px;
  font-weight: 600;
  color: var(--dark-color);
}
.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
  word-spacing: 0.9px;
}

.text-sm {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.basic-button {
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  background-color: TRANSPARENT;
  cursor: pointer;
  padding: 8px 14px;
  color: vaR(--white);
  border: none;
  transition: all 0.3s;
  border: 1.5px solid #fff;
  margin-right: 20px;
}

.basic-button:hover {
  background-color: #d83f86c9;
}

.basic-button > a {
  color: var(--white);
}

.padding {
  padding: var(--section-padding);
}

.background-property {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text-center {
  text-align: center;
}

/* Media query of utility */
@media screen and (max-width: 1200px) {
  .padding {
    padding: 5%;
  }
}
@media screen and (max-width: 950px) {
  .section-heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 950px) {
  .text {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .section-heading {
    font-size: 30px;
  }
  p.p-pink {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .grid-4 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .main-heading {
    font-size: 25px;
    font-weight: 700;
  }
  .sub-heading {
    font-size: 18px;
    font-weight: 500;
  }
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

/* notification strip line */
.notification_strip_line{
    background-color: var(--pink);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.noti_strip_content{
    color: white;
    font-weight: 600;
}

/* header */
.header {
    padding: 1% 5%;
    position: fixed;
    top: 29px;
    z-index: 1000;
    width: 100%;
    transition: all 0.5s;
    background-color: transparent;
  }
  
  .header.active {
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: var(--white);
  }
  
  .active .links-list > li > a {
    color: var(--dark-color);
    font-weight: 600;
    transition: all 0.3s;
  }
  
  .active .links-list > li > a:hover {
    color: var(--pink);
  }
  
  .logo > h2 {
    font-style: italic;
  }
  .logo > a > img {
    width:auto;
    height: 62px;
  }
  
  .links-list > li {
    margin-right: 33px;
  }
  
  .links-list-items {
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .links-list > li > a {
    color: var(--white);
    font-size: 17px;
    font-size: 600;
    transition: all 0.3s;
  }
  
  .links-list > li > a:hover {
    color: var(--pink);
  }
  
  .links-list > button {
    padding: 8px;
    border-radius: 10px;
    border: 1.5px solid #fff !important;
  }
  
  .links-list > button > a > ion-icon {
    margin-right: 6px;
  }
  .links-list_button {
    background-color: var(--pink) !important;
  }
  
  .mobile-icons > ion-icon {
    font-size: 25px;
    font-weight: bold;
    display: none;
    cursor: pointer;
  }
  
  .mobile-navbar-btn {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .mobile-navbar-btn {
      display: block;
    }
  
    .mobile-navbar-btn > ion-icon[name="close-sharp"] {
      display: none;
    }
  
    .mobile-nav-icon[name="menu-sharp"] {
      display: block;
      color: var(--pink);
      font-size: 40px;
    }
  
    .nav-list {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      width: 100%;
      height: 100vh;
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 30px;
      transform: translateX(100%);
      transition: all 0.3s linear;
    }
  
    .mobile-active .nav-list {
      transform: translateX(0);
      opacity: 1;
      background-color: #000;
      visibility: visible;
      pointer-events: auto;
    }
  
    .mobile-active .mobile-nav-icon[name="menu-sharp"] {
      display: none;
    }
  
    .mobile-active .mobile-nav-icon[name="close-sharp"] {
      font-size: 25px;
      color: #fff;
      display: block;
    }
  
    .mobile-active .links-list > button {
      margin-top: 4%;
    }
  
    .active .links-list > li > a {
      color: var(--white);
    }
  
    .logo > a > img {
      height: 65px;
      width: 100%;
    }
  }
  
  /* landing form */

  .landing-section-services {
    background-image: url("../../images/pexels-photo-7567595.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .landing-section-services:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
  }
  .landing-section-parent {
    margin-top: 110px;
    padding: 5%;
    position: relative;
    z-index: 1;
  }
  .landing-section-content {
    color: #fff;
  }
  .landing-section-content > h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .landing-section-content > h2 {
    font-size: 60px;
    margin-bottom: 30px;
    color: #fff;
    text-align: left;
  }
  .landing-section-content > h1 {
    font-size: 60px;
    margin-bottom: 30px;
    color: #fff;
    text-align: left;
  }
  .landing-section-content > p {
    margin-bottom: 36px;
    font-size: 20px;
  }
  .landing-section-content > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    border-radius: 0 !important;
  }
  
  .landing-section-content > a > ion-icon {
    font-size: 20px;
  }
  
  .landing-btn {
    font-size: 18px;
    padding: 9px 15px;
  }
  
  .landing-offer-div {
    line-height: 3;
    border: 3px solid #fff;
    border-left: none;
    border-right: none;
    margin-bottom: 35px;
  }
  
  .landing-offer-div > p {
    font-size: 25px;
    font-weight: 700;
  }
  
  .landing-ul > li > ion-icon {
    font-size: 25px;
    margin-right: 10px;
  }
  
  .landing-section-form {
    display: flex;
    justify-content: center;
  }
  .landing-section-form form {
    background-color: #fff;
    height: min-content;
    padding: 30px 20px;
    width: 70%;
    max-width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px 3px rgb(237 228 228 / 60%);
  }
  .landing-section-form form .form_heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--dark-color);
    font-weight: bold;
  }
  .landing-section-form form input,
  .landing-section-form form textarea {
    width: 100%;
    padding: 7px;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    outline-color: var(--pink);
    outline-width: 0.6px;
    font-size: 16px;
  }
  .landing-section-form form textarea {
    height: 120px;
  }
  .mobile_number{
    position: relative;
  }
  .mobile_number input#input_mobile{
   margin-left: 1px;
  }
  #mobile_number_selector{
      border-radius: 3px;
      border: 1px solid #ccc;
  }
  
  #mobile_number_selector:focus-visible{
    outline: var(--pink);
    border: 2px solid var(--pink);
  }
  #contact_form_button:disabled{
    background-color: #d83f86c9;
  }
  .landing-section-form form button {
    background-color: var(--pink);
    width: 100%;
    border-radius: 5px;
  }
  .input_error{
    color: red;
    font-size: 13px;
    font-weight: 500;
    height: 24px;
    text-align: left !important;
    margin: 0 2px;
  }
  
  .iti{
    width: 100%;
    z-index: 99999;
  }
  .iti__country-list{
    max-width: 300px;
  }
  
  @media screen and (max-width: 1200px) {
    .landing-section-content > h2 {
      font-size: 45px;
    }
    .landing-offer-div > p {
      font-size: 22px;
    }
    .landing-section-form form {
      width: 80%;
    }
  }
  @media screen and (max-width: 800px) {
    .landing-section-form form {
      width: 100%;
    }
    .landing-section-content > h2 {
      font-size: 35px;
      margin-bottom: 25px;
    }
    .landing-section-content > h1 {
      font-size: 35px;
      margin-bottom: 25px;
    }
    .landing-offer-div {
      margin-bottom: 22px;
    }
    .landing-section-content > p {
      margin-bottom: 36px;
      font-size: 15px;
    }
    .landing-offer-div > p {
      font-size: 16px;
    }
    .landing-section-parent {
      padding: 5% 5% 12% 5%;
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 650px) {
    .landing-btn {
      font-size: 14px;
    }
    .landing-offer-div {
      border: 1.5px solid #fff;
      border-left: none;
      border-right: none;
    }
    .landing-section-content > a {
      width: 290px;
    }
    .landing-section-form form button {
      margin-right: 0;
    }
    .basic-button {
      margin-right: 0px;
    }
  }
  
  
  
  /* review_2 */
  .reviews_section{
    padding: 5% 5% 0 5%;
}
.review_row{
    justify-content: center;
    align-items: center;
}
.google{
    width: 20%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviews{
    width:80%;
    padding: 10px;
}
.google_logo{
    
    max-width: 150px;
}
.google_logo img{
    width: 100%;
}
.rating{
    margin-bottom: 10px;
}
.rating p i{
    color: rgb(246, 230, 7);
    font-size: 25px;
}
.review-item{
    padding: 10px;
}
.review-item p i{
    color: rgb(246, 230, 7);
    font-size: 18px;
}
.user_name{
    margin-left: 10px;
}
.user_name p{
    font-family: "poppins",sans-serif;
    font-weight: 700;
}
.user_name span{
    color:var(--light-font-color);
    font-size: 14px;
}
.user_img{
    width: 50px;
    border-radius: 50%;
}
.user_img img{
    width: 100%;
    border-radius: 50%;
}
.g-logo{
    width: 20px;
}
.review_stars{
    margin-top: 5px;
    
}
.review_content{
    height: 88px;
    overflow-y: auto;
    margin-top: 10px;
}
.reiview_content_box{
    padding-right:20px;
}
.reiview_content_box p{
    line-height: 1.4;
    font-size: 15px;
}
.review_content::-webkit-scrollbar {
    width: 5px;
}
.review_content::-webkit-scrollbar-button {
    height: 0;
}
.review_content::-webkit-scrollbar-track-piece {
    background-color: #ccc;
    border-radius: 5px;
}
.review_content::-webkit-scrollbar-thumb {
    background: rgb(70, 68, 68);
    border-radius: 5px;
}
@media(max-width:799px){
    .google{
        width: 50%;
    }
    .reviews{
        width: 50%;
    }
}
@media(max-width:600px){
    .review_row{
        flex-direction: column;
    }
    .google{
        width: 100%;
    }
    .reviews{
        width: 100%;
    }
}

/* roadmap 1 */
.section-roadmap {
  height: max-content;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5% 8%;
}
.dm-services-roadmap > h6 {
  text-align: center;
  color: var(--dark-color);
}
.roadmap {
  position: relative;
  margin-top: 3%;
  padding-top: 4%;
}

.roadmap > li {
  display: flex;
  justify-content: flex-start;
}

.roadmap > li:nth-child(even) {
  display: flex;
  justify-content: flex-end;
}

.roadmap-item {
  width: 30%;
  position: relative;
}

.roadmap-item::after {
  position: absolute;
  top: 0;
  right: -50px;
  height: 27px;
  width: 27px;
  border-radius: 100px;
  content: "";
  background-color: var(--pink);
}

.roadmap-item::before {
  position: absolute;
  top: 10.5px;
  left: 110%;
  height: 5px;
  width: 56.2%;
  content: "";
  background-color: var(--dark-color);
}

.roadmap > li:nth-child(even) > .roadmap-item::after {
  left: -50px;
}

.roadmap > li:nth-child(even) > .roadmap-item::before {
  left: -66.2%;
}

.v-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  background-color: var(--dark-color);
}

.roadmap-item > h2 {
  color: var(--dark-color);
  margin-bottom: 4%;
  font-weight: 600;
}
.roadmap-item > p.road_heading {
  color: var(--dark-color);
  margin-bottom: 4%;
  font-weight: 600;
  font-size: 24px;
}

.roadmap-item > p {
  color: var(--black);
  line-height: 1.5;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .roadmap {
    margin-top: 11%;
  }

  .services-types > p,
  .dm-services-roadmap > p {
    font-size: 14px;
  }

  .dm-services-roadmap > h6 {
    font-size: 26px;
  }

  .section-roadmap {
    margin-top: -24.7px;
  }

  .v-line {
    left: 0%;
    width: 4px;
  }

  .roadmap > li {
    justify-content: flex-end;
    margin-bottom: 10%;
  }

  .roadmap > li:nth-child(even) > .roadmap-item::before {
    left: -43%;
  }

  .roadmap-item {
    width: 70%;
  }

  .roadmap > li:nth-child(even) > .roadmap-item::after {
    left: -14%;
  }

  .roadmap-item::after {
    left: -14%;
  }

  .roadmap-item::before {
    top: 10.5px;
    left: -43%;
    width: 30.2%;
  }
}

/* number section */
/* number do talking */
.number_section {
  padding: 5% 8%;
}
.number-section p.sub-heading {
  font-size: 1.6667rem;
  line-height: 1.4;
  font-weight: 300;
}
.number-counter {
  margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.number-counter-item{
    border-radius: 50%;
    background-color: var(--primary-color);
    width: 100px;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.number-counter-item img{
  width: 48px;
  height: 48px;
}
.number-counter h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 12px;
  color: #30303f;
}
.number-counter p.number_p {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 12px;
  color: #30303f;
}
@media screen and (max-width: 1200px) {
  .number_section {
    padding: 5% !important;
  }
}
@media screen and (max-width: 800px) {
  .number-counter h4 {
    margin-top: 14px;
    margin-bottom: 4px;
    color: #30303f;
  }
  .number-counter p.number_p {
    margin-top: 14px;
    margin-bottom: 4px;
    color: #30303f;
  }
  .section-heading > div {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

/* number sectoin */
/*------ ----hiring steps------------- */
.hiring_step{
  padding: 5% 8%;

}

.why-row {
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin-bottom: 20px;
}
@media (max-width: 968px) {
  .why-row{ grid-template-columns: repeat(1, 1fr); }
  
} 
.hiring_step_order-1{
display: flex;
justify-content: center;
align-items: center;
}
.hiring_step_order-1 button{
margin-top: 20px;
}
.hiring_step_order-1 p.hiring_step_content{
color: var(--light-font-color);
}
.why-row .section-heading{
text-align: left;
margin-top: 0;
}
.hire-btn{
margin-top: 10px;
padding: 3%;
background-color: #ed1575;
border-radius: 50px;
border: none;
outline: none;
color: white;
font-size: 17px;
font-weight: 500;
transition: all 0.2s ease-in-out;
cursor: pointer;
box-shadow: 0 4px 15px 9px rgba(0, 0, 0, 0.1);
}
.hire-btn:hover{
box-shadow: 0 0px 15px 9px rgba(0, 0, 0, 0.1);
scale: 1.1;
}
.steps{
gap: 4%;
margin-bottom:5%;
}
.step-dtl h4{
  font-size: 22px;
   color: var(--dark-color);
}
.step-dtl p.step-dtl-heading{
font-size: 22px;
color: var(--dark-color);
font-weight: bold;
}
.step-dtl p{
margin-top: 10px;
  color: var(--light-font-color);
  font-size: 17px;
  line-height: 1.4;
  word-wrap: break-word;
}
@media screen and (max-width: 800px){
.step-dtl p.step-dtl-heading{
  font-size: 19px;
}
.step-dtl h4{
  font-size: 19px;
}
}




  /* content section */

  section.content_section{
    padding: 5% 8%;
  }
  section.content_section ul{
    padding-left: 2rem;
    margin: 20px 0;
  }
  section.content_section ul li{
    list-style-type: disc;
    font-size: 18px;
    word-spacing: 1.5px;
    letter-spacing: .5px;
    line-height: 1.8;
  }
  .content_div{
    margin-bottom: 20px;
  }
  .content_div .ul_div{
    display: flex;
    column-gap: 20px;
  }
  .content-heading{
    font-size: 40px;
    font-weight: 700;
    font-family: "poppins", sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: var(--dark-color);
    line-height: 1.2;

  }
  .content_div .content_image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_div .content_image .content_image_box{
    width:50%;
  }
  .content_div .content_image img{
    width:100%;
    height: 100%;
  }
  .text_content{
    font-size: 18px;
    word-spacing: 1.5px;
    letter-spacing: .5px;
    line-height: 1.8;
  }
  .content_text_bold{
    font-size: 24px;
    word-spacing: 1.5px;
    letter-spacing: .5px;
    line-height: 1.8;
    font-weight: bold;
  }
@media (max-width:768px){
  .content-heading{
    font-size: 30px;
  }
  .content_div .content_image .content_image_box{
    width:100%;
  }
  .content_div .content_image img{
    width:100%;
    height: 100%;
  }
}

/* expert section */
.experts-section {
  padding: 5% 8%;
  background-color: #f1f8fb;
}
.expert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2%;
}
@media (max-width: 700px) {
  .expert-grid {
    gap: 20px;
  }
}
.expert-item {
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.expert-item:hover {
  transform: translateY(-15px);
}
.expert-image-box {
  width: 120px;
  height: 120px;
  border: 5px solid var(--dark-color);
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.expert-image {
  border: 3px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert-profile {
  margin: 1rem 0;
}
.expert-rating {
  margin-top: 7px;
}
.expert-rating i {
  color: #ed1575;
}
.expert-desc {
  margin-bottom: 5px;
}
.expert-profile h2 {
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  color: var(--dark-color);
}
.expert-profile p.expert-name {
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  color: var(--dark-color);
  font-weight: bold;
  text-align: center;
}
.expert-profile p {
  font-size: 15px;
}
.expert-skill {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
  gap: 7px 6px;
}
.expert-skill .skill {
  border-radius: 50px;
  padding: 5px 8px;
  background-color: #f2f7f2;
}
.expert-skill .skill p {
  font-size: 13px;
  font-weight: 600;
}

.expert-grid .btn {
  margin-top: 5px;
  padding: 7px 20px;
  background-color: #ed1575;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}


.expert-grid .btn:hover {
  background-color: #ed4490;
  scale: 1.1;
}
@media screen and (max-width: 1200px) {
  .experts-section {
    padding: 5% !important;
  }
}
@media screen and (max-width: 800px) {
  .expert-grid {
    margin-top: 5%;
  }
}

/* main sersvice */
.landing-section-services {
  background-image: url("../images/services-bg.jpg");
}
.landing-section-content > h2 {
  font-size: 40px;
  margin-bottom: 35px;
}

.landing-offer-div {
  line-height: unset;
  margin-bottom: 35px;
  border: none;
}

.landing-section-content > p {
  margin-bottom: 35px;
  font-size: 18px;
}

.landing-ul {
  margin-bottom: 40px;
}

.landing-ul > li {
  margin-bottom: 10px;
}

.landing-ul > li > ion-icon {
  font-size: 24px;
  margin-right: 7px;
}
.links-div {
  display: grid;
  grid-template-columns: repeat(6, minmax(170px, 1fr));
  padding: 4% 8%;
}
.links-div > div {
  border-bottom: 1px solid rgba(26, 26, 26, 0.5);
  border-right: 1px solid rgba(26, 26, 26, 0.5);
  padding: 20px 15px;
  transition: 0.3s;
}
.links-div > div:hover {
  background-color: var(--dark-color);
}
.links-div > div:hover .text {
  color: #fff;
}
.links-div .text {
  color: rgba(26, 26, 26, 0.5);
  font-weight: 500;
  font-family: "poppins", sans-serif;
  width: 100%;
  height: 100%;
}

/* services types section   */
.main-service-types {
  padding: 5% 10%;
}
.main-service-types > h2 {
  font-size: 45px;
  line-height: 2;
  margin-bottom: 35px;
  position: relative;
}
.main-service-types > h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 3.5px;
  background-color: var(--pink);
}
.main-services-types-child {
  border-radius: 12px;
  margin-top: 35px;
  margin-top: 5%;
  border: 1px solid var(--white);
  box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.main-services-types-child:hover {
  border: 1px solid var(--dark-color);
}

.main-services-types-child-content-odd-grid {
  grid-template-columns: 60% 1fr;
}

.main-services-types-child-content-even-grid {
  grid-template-columns: 40% 1fr;
}
.main-services-types-child-content {
  padding: 6% 8% 5% 5%;
}
.main-services-types-child-content > h3 {
  color: var(--dark-color);
  text-transform: capitalize;
}
.main-services-types-child-content > h3,
.main-services-types-child-content > p {
  margin-bottom: 30px;
}
.main-services-types-child-content > p {
  width: 80%;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.main-services-types-child-content > a {
  color: var(--pink);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.main-services-types-child-content > a:hover {
  text-decoration: underline;
}
.main-services-types-child-content > a > ion-icon {
  margin-left: 7px;
}
.main-services-types-child-content-odd-grid
  .main-services-types-child-img
  > img {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.main-services-types-child-content-even-grid
  .main-services-types-child-img
  > img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.our-values-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 5%;
}
.our-values-box {
  box-shadow: 2px 2px 15px rgb(0 0 0 / 4%), -2px -2px 15px 1px rgb(0 0 0 / 4%);
  border-radius: 12px;
}
.our-values-box-padding {
  padding: 6.5%;
}
.our-values-box > h6 {
  font-size: 25px;
  color: var(--dark-color);
  margin-bottom: 20px;
  text-transform: capitalize;
}
.our-values-box > p {
  font-size: 16px;
  line-height: 1.7;
}
.our-values-box > img {
  border-radius: 12px;
}

.blog {
  padding: 5% 8% 5% 8%;
}

@media screen and (max-width: 1250px) {
  .links-div{
    grid-template-columns: repeat(4, minmax(170px, 1fr));
  }
  .main-service-types {
    padding: 5% 6%;
  }
  .links-div {
    padding: 5%;
  }
}
@media screen and (max-width: 1050px) {
 
  .main-services-types-child-content > p {
    width: 100%;
  }
  .main-services-types-child-content {
    padding: 6% 5% 5% 5%;
  }
}
@media screen and (max-width: 900px) {
  .main-service-types > h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .main-services-types-child-content > p {
    width: 100%;
  }
  .main-services-types-child-content > h3,
  .main-services-types-child-content > p {
    margin-bottom: 15px;
  }
  .main-services-types-child-content > h3 {
    font-size: 25px;
  }
  .main-services-types-child-content > p {
    font-size: 14px;
  }
  .main-services-types-child-content {
    padding: 6% 5% 5% 5%;
  }
  .our-values-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .landing-section-content > h2 {
    font-size: 31px;
    margin-bottom: 22px;
  }
  .landing-offer-div {
    margin-bottom: 22px;
  }
  .landing-section-services {
    height: 1180px;
  }
  .landing-section-form form {
    width: 100%;
  }
  .links-div {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    padding: 5%;
  }
  .main-service-types > h2 {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-bottom: 4%;
  }
  .main-service-types {
    padding: 6% 4%;
  }
  .main-service-types > h2:before {
    width: 35%;
  }
  .main-services-types-child-content-odd-grid {
    grid-template-columns: 1fr;
  }
  .main-services-types-child-content-even-grid {
    grid-template-columns: 1fr;
  }
  .main-services-types-child-img > img {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  .main-services-types-child-img {
    grid-row: 1;
  }
  .our-values-box-padding {
    padding: 4%;
  }
  .our-values-box > p {
    font-size: 14px;
    line-height: 1.5;
  }
  .our-values-box > h6 {
    font-size: 22px;
    margin-bottom: 11px;
  }

  .our-values-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* testimonial */
/* testimonial section */
.testimonial-section {
  padding: 5% 8%;
}

.testimonial-section .main-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2%;
}
.testimonial-section .text {
  font-size: 16px;
}
.test-item {
  padding: 5%;
  background-color: #f1f8fb;
  border-radius: 10px;
}
.test-item p {
  color: #222;
}
.test-item .test-user {
  margin-top: 20px;
}
.test-item .user-img {
  width: 60px;
  height: 60px;
}
.test-item .user-img img {
  border-radius: 50%;
  width: 100%;
}
.test-item .qoute {
  font-size: 3rem;
  color: var(--dark-color);
}
.test-item .test-user h4 {
  color: var(--dark-color);
}
p.test_name_designation{
  color: var(--dark-color);
  font-weight: bold;
}

.test-item .test-user .test-user-dtl {
  margin-left: 10px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
  .testimonial-section {
    padding: 5% !important;
  }
  .hire-services-btn-div {
    margin: 2% auto 0 auto !important;
  }
}
@media screen and (max-width: 800px) {
  .test-item {
    padding: 3%;
  }
  .testimonial-section .text {
    font-size: 14px;
  }
}

/* faq */
/* faq start */
.faq-section {
  padding: 5% 8% 5% 8% !important;
  margin: 0 auto;
}
.faq-section > h5 {
  text-align: center;
  margin-bottom: 50px;
}
.faqs {
  width: 100%;
  margin: 0 auto;
  border-bottom: 4px solid var(--dark-color);
}
.faqs-child {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.faqs-child details {
  padding: 10px;
}
.faqs-child details summary {
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: #333;
  outline: none;
  border-radius: 0.25rem;
  padding: 0 1rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  /* background-color: var(--pink); */
}
.faqs-child details summary:hover {
  color: var(--pink);
}
.faqs-child details[open] > summary {
  color: var(--pink);
}
.faqs-child details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
.faqs-child details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
  color: var(--pink);
}
.faqs-child details > summary::-webkit-details-marker {
  display: none;
}
.faqs-child details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.faq__content > p {
  font-size: 16px;
  padding: 1rem;
}

@media screen and (max-width: 1050px) {
  .faq-section {
    padding: 5% !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .faq-section > h5 {
    margin-bottom: 30px;
  }
  .faqs-child details summary {
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  .faqs {
    padding: 0;
    width: 100%;
  }

  .faq__content > p {
    font-size: 15px;
    padding: 1.2rem 0;
  }
}

/* blog */
/* -------------------------- */
/*  Blogs design */
/* -------------------------- */

.blog > h2 {
  text-align: center;
  margin-bottom: 4.5%;
}
.blog {
  padding: 5% 8%;
}

.blog .section-subtitle {
  text-align: center;
  margin: 15px;
}

.blog .section-title {
  text-align: center;
  margin-bottom: 60px;
}

.blog-grid {
  gap: 30px;
}

.blog-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  overflow: hidden;
}

.blog-banner-box {
  overflow: hidden;
}

.blog-banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s ease;
}

.blog-card:hover .blog-banner-box img {
  transform: scale(1.1);
}

.blog-content {
  padding: 15px;
  padding-bottom: 20px;
}

.blog-title {
  /* padding-bottom: 8px; */
  /* border-bottom: 1px solid var(--pink); */
  margin-bottom: 15px;
}

.blog-content > p {
  font-size: 14px;
  color: #000;
  margin: 2% 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 22px;
}

.blog-title a {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 600;
  transition: 0.25s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-card:hover .blog-title a {
  color: var(--pink);
}

.blog-content .wrapper {
  margin-top: 15px;
  position: relative;
  gap: 5px;
}

.blog-content .wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--pink);
  width: 1px;
  height: 15px;
}

.blog-publish-date,
.blog-comment {
  gap: 10px;
}
.blog-publish-date > a > img {
  width: 50px;
  border-radius: 50%;
}

:is(.blog-publish-date, .blog-comment) a {
  color: var(--pink);
  font-weight: 500;
  transition: 0.25s ease;
  font-family: "poppins", sans-serif;
}

.blog-time img {
  width: 30px;
}
.blog-time a {
  color: var(--dark-color);
  font: 14px;
  font-family: "poppins", sans-serif;
}
.blog {
  font-size: 15px;
}
.blog-link-div > a {
  color: var(--pink);
  margin: 0;
  text-decoration: underline;
}
.blog-link-div > a:hover {
  background-color: unset;
}
.view_more_btn {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--pink);
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.view_more_btn:hover {
  scale: 1.1;
}
p.view-btn {
  margin-top: 28px;
}
.view_more_btn a {
  color: white;
}
@media screen and (max-width: 1200px) {
  .blog {
    padding: 5% !important;
  }
}
@media screen and (max-width: 1050px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .blog {
    padding: 5% 4% 5% 4% !important;
  }
  .blog-title a {
    font-size: 17px;
  }
  .blog-content {
    padding: 12px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 650px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }

  .blog-publish-date,
  .blog-comment {
    gap: 5px;
  }
}


/* pricing table */
.pricing-landing {
  height: 320px;
  background-color: var(--dark-color);
  color: var(--white);
  text-align: center;
  padding: 5%;
}
.pricing-ladning-content > p {
  font-size: 20px;
  margin-top: 1%;
}

.pricing-box > h2 {
  text-align: center;
  margin: 2% 0;
}

section.pricing{
padding: 5%;
}

.list_header{
display: grid;
grid-template-columns: repeat(5,1fr);
height:100px;
margin-bottom: 10px;
}
.list_head{
background-color: var(--dark-color);
border-radius: 10px 10px 0 0 ;
border-right: 1px solid white;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.list_row{
display: grid;
grid-template-columns: repeat(5,1fr);
}
.list_data{
text-align: center;
border-right: 2px solid #eee;
padding: 18px 0;
}


.panel {
background-color: white;


}
.panel .list_row:nth-child(even){
  background-color: #ccc
}
.panel p:last-child{
margin-bottom: 20px;
}

/* footer*/
/* -------------------------- */
/*  Footer strip design */
/* -------------------------- */

.footer-header-strip {
  background-color: #f6f9fd;
  background-image: url("../images/bg-1.webp");
  backdrop-filter: blur(5px);
  padding: 2% 5%;
  margin: 0 5% 5% 5%;
  border-radius: 6px;
}

.footer-strip-blocks {
  grid-template-columns: 20% 1fr;
  grid-gap: 5%;
  border-right: 0.7px solid black;
}

.footer-strip-blocks-icon > ion-icon {
  font-size: 35px;
  color: var(--pink);
}

.footer-strip-blocks-content > address {
  font-style: normal !important;
}

.footer-strip-blocks-content > address > h3 {
  color: var(--dark-color);
  font-size: 25px;
}
.footer-strip-blocks-content > address > p.addres_heading {
  color: var(--dark-color);
  font-size: 25px;
  font-weight: bold;
}

.footer-strip-blocks-content > address > p > a {
  color: var(--light-font-color);
  font-size: 14px;
}

/* -------------------------- */
/*  Footer design */
/* -------------------------- */

.footer {
  background-color: var(--dark-color);
  padding: 5%;
  position: relative;
}

.footer-grid-container {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}

.footer-desc {
  padding-top: 0;
}
.footer-logo {
  display: grid;
}

.footer-logo > img {
  height: 80px;
  width: 130px;
}

.location {
  margin: 4% 0;
}

.location > ion-icon {
  color: var(--white);
  font-size: 18px;
  margin-right: 8px;
}

.location > address > a {
  color: var(--white);
  font-size: 18px;
}

.footer-links {
  color: var(--white);
}
.footer-links > h4 {
  font-size: 22px;
  color: var(--pink);
  margin-bottom: 4%;
}
p.footer_links_heading{
  font-size: 22px;
  color: var(--pink);
  margin-bottom: 4%;
  font-weight:bold;
}

.footer-links > ul > li > a {
  color: var(--white);
 
}
.footer-links > ul > li{
  margin-bottom: 2%;
}

.footer-links > ul > a > li:hover {
  color: var(--pink);
}

.bottom-footer {
  border-top: 1.4px solid var(--light-font-color);

  background-color: var(--dark-color);
}

.footer-footer-strip {
  padding: 1% 5%;
  color: var(--white);
}

.social-icons > address > a > img {
  margin-right: 6px;
  border-radius: 50%;
  height: 30px;
}

.social-icons > p {
  margin-right: 10px;
  display: block;
}

.social-icons > p > b {
  color: var(--pink);
}

.pricing {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:1000px){
  .footer-strip-blocks{
    grid-template-columns: initial;
    text-align: center;
  }
}
@media screen and (max-width:992px) {
  .footer-grid-container{
    grid-template-columns: repeat(2,1fr);
    row-gap: 2%;
  }
}

@media screen and (max-width: 700px) {
  .footer-grid-container {
    grid-gap: 3%;
    row-gap: 0%;
  }

  .footer-desc {
    margin-bottom: 5%;
  }

  .footer-strip-blocks {
    border: 0;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 600px) {
  .footer-grid-container {
    grid-template-columns: 100%;
  }
  .footer-strip {
    font-size: 14px;
    margin: 5% 0 0 0;
  }
}
@media screen and (max-width:500px) {
  .footer-strip-blocks{
    grid-template-columns: 20% 1fr;
    grid-gap: 5%;
    text-align: left;
  }
}
/* modal */
/* -----------modal --------------*/
.pop-backgroud {
  position: fixed;
  top: -500%;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.profile-details-section {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1200px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 1px 3px #00000026;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;
}

.model-content .flex {
  position: relative;
  width: 100%;
}
.model-content span.close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 48px;
  color: white;
  text-align: right;
  background: transparent;
  cursor: pointer;
  z-index: 99;
}

.form-box {
  width: 50%;
  padding: 50px 40px;
}
.modal_contact_form small{
  color: var(--pink);
}
.form-box p.form-heading {
  font-size: 32px;
  text-transform: capitalize;
}
.form-box p.form-heading strong {
  color: var(--pink);
}
.form-box form {
  margin-top: 40px;
}
.form-box .input-control {
  margin-bottom: 20px;
}
.form-box .input-control:last-child {
  margin-bottom: 0px;
}
.send-input {
  margin-bottom: 0;
}
.form-box .input-control input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
.form-box .input-control input,
.model-content textarea {
  padding: 7px 10px;
  /* max-width: 420px; */
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 18px;
  transition: all 0.3s ease;
}
.form-box .input-control textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
.checkbox-input {
  display: flex;
  align-items: center;
}
.form-box .input-control input.checkbox {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.form-box .input-control label {
  margin-left: 8px;
  font-size: 14px;
  color: #686969;
}
.send-btn {
  margin-top: 5px;
  padding: 7px 20px;
  background-color: #ed1575;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.model-dtl-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.model-dtl-box {
  background-color: var(--dark-color);
  background-color: #2b2350;
  width: 50%;
  padding: 50px 40px;
  color: white;
}



.model-dtl-box ul li a{
  color: white;
}

.model-dtl-item ul li {
  display: flex;
  align-items: center;
  margin: 25px 0;
  font-weight: bold;
}
.model-dtl-item ul li i{
  margin-right: 8px;
  color: var(--pink);
  font-weight: bold;
  font-size: 22px;
}
.model-dtl-item ul li span {
  font-size: 22px;
}
.model-dtl-heading p {
  font-size: 22px;
}
@media screen and (max-width: 1050px) {
  .model-dtl-box {
    display: none;
  }
  .model-content span.close {
    color: black;
  }
  .form-box {
    width: 100%;
  }
}
.model::-webkit-scrollbar {
  width: 0px;
  border-radius: 25px;
}
.model::-webkit-scrollbar-track {
  background-color: #eee;
}
.model::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.model::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
@media screen and (max-width: 800px) {
  .form-box p.form-heading {
    font-size: 23px;
  }
  .profile-details-section {
    width: 90%;
    position: fixed;
  }
  .form-box {
    padding: 50px 5% 8% 5%;
  }
  .form-box form {
    margin-top: 25px;
  }
  .form-box .input-control {
    margin-bottom: 22px;
  }
  .form-box .input-control input,
  .model-content textarea {
    font-size: 16px;
  }
}


.modal-other-dtl-box{
  padding: 20px 0;

}
.modal-other-dtl-box p{
  font-size: 22px;
  font-weight: bold;
}
.modal-other-dtl-box .social-icons{
margin-top: 20px;
}

.model .social-icons > address > a > img {
  margin-right: 9px;
}