RewriteEngine on

Options -Indexes


RewriteCond %{HTTP_HOST} ^www\.hirecoworker\.com [NC]
RewriteRule ^(.*)$ https://hirecoworker.com/$1 [L,R=301]


# This rule alow user to access file
RewriteCond %{REQUEST_FILENAME} !-f
#=============================================================================================================
#
ErrorDocument 404 https://hirecoworker.com/404
#

#
#=============================================================================================================
#=============================================================================================================
#
# Home page route
ReWriteRule ^$ pages/home.php [NC,L]

#
#=============================================================================================================
#

#404 error pages
ReWriteRule ^404([/]?)$ pages/error/404.php [NC,L] 

#sitemap
RewriteRule ^sitemap\.xml/?$ sitemap.xml
# RewriteRule ^sitemap\.html/?$ sitemap.html.php





ReWriteRule ^hire-digital-marketer([/]?)$ pages/digital-marketing/_index.php [NC,L]
ReWriteRule ^amazon-marketing-services([/]?)$ pages/digital-marketing/amazon-marketing-services.php [NC,L]
ReWriteRule ^backlink-building-virtual-assistant([/]?)$ pages/digital-marketing/backlink-building-virtual-assistant.php [NC,L]
ReWriteRule ^google-business-profile-virtual-assistant([/]?)$ pages/digital-marketing/google-business-profile-virtual-assistant.php [NC,L]
ReWriteRule ^hire-seo-virtual-assistant-specialist([/]?)$ pages/digital-marketing/hire-seo-virtual-assistant-specialist.php [NC,L]
ReWriteRule ^va-for-social-media-marketing([/]?)$ pages/digital-marketing/va-for-social-media-marketing.php [NC,L]
ReWriteRule ^email-marketing-virtual-assistant([/]?)$ pages/digital-marketing/email-marketing-virtual-assistant.php [NC,L]
ReWriteRule ^best-ppc-virtual-assistant([/]?)$ pages/digital-marketing/best-ppc-virtual-assistant.php [NC,L]
ReWriteRule ^content-marketing-services([/]?)$ pages/digital-marketing/content-marketing-services.php [NC,L]
# ReWriteRule ^hire-digital-marketer/([0-9A-za-z\-]+)([/]?)$ pages/digital-marketing/$1.php [NC,L]
ReWriteRule ^reputation-management-services([/]?)$ pages/digital-marketing/reputation-management-services.php [NC,L]


ReWriteRule ^it-outsourcing-services([/]?)$ pages/it-outsourcing/_index.php [NC,L]
ReWriteRule ^va-web-development([/]?)$ pages/it-outsourcing/va-web-development.php [NC,L]
ReWriteRule ^software-development-va([/]?)$ pages/it-outsourcing/software-development-va.php [NC,L]
ReWriteRule ^cms-development([/]?)$ pages/it-outsourcing/cms-development.php [NC,L]
#ReWriteRule ^ecommerce-web-development([/]?)$ pages/it-outsourcing/ecommerce-web-development.php [NC,L]
ReWriteRule ^frontend-development-services([/]?)$ pages/it-outsourcing/frontend-development-services.php [NC,L]
ReWriteRule ^database-development-services([/]?)$ pages/it-outsourcing/database-development-services.php [NC,L]
ReWriteRule ^it-security-services([/]?)$ pages/it-outsourcing/it-security-services.php [NC,L]
ReWriteRule ^machinelearning-service([/]?)$ pages/it-outsourcing/machinelearning-service.php [NC,L]
ReWriteRule ^network-installation([/]?)$ pages/it-outsourcing/network-installation.php [NC,L]
ReWriteRule ^backend-development-services([/]?)$ pages/it-outsourcing/backend-development-services.php [NC,L]
ReWriteRule ^full-stack-development-services([/]?)$ pages/it-outsourcing/full-stack-development-services.php [NC,L]




ReWriteRule ^hire-developers/([0-9A-za-z\-]+)([/]?)$ pages/hire-developers/$1.php [NC,L]
ReWriteRule ^hire-developers([/]?)$ pages/hire-developers/_index.php [NC,L]
ReWriteRule ^hire-content-writer([/]?)$ pages/content-writer/_index.php [NC,L]
ReWriteRule ^hire-finance-accounts-experts([/]?)$ pages/finance-accounts-experts/_index.php [NC,L]
ReWriteRule ^hire-professional-mobile-app-developers([/]?)$ pages/mobile-apps-developers/_index.php [NC,L]
ReWriteRule ^hire-engineers-architects([/]?)$ pages/engineers-architecture/_index.php [NC,L]
ReWriteRule ^legal-outsourcing-services([/]?)$ pages/legal-process-outsourcing/_index.php [NC,L]
ReWriteRule ^hire-dedicated-designers([/]?)$ pages/dedicated-designer/_index.php [NC,L]
ReWriteRule ^medical-process-outsourcing([/]?)$ pages/medical-process-outsourcing/_index.php [NC,L]
ReWriteRule ^virtual-assistant([/]?)$ pages/virtual-assistant/_index.php [NC,L]
ReWriteRule ^outsource-to-india([/]?)$ pages/outsource_india/_index.php [NC,L]


ReWriteRule ^article-writer([/]?)$ pages/content-writer/article-writer.php [NC,L]
#ReWriteRule ^hire-article-writer([/]?)$ pages/content-writer/article-writer.php [NC,L]
ReWriteRule ^book-writing-services([/]?)$ pages/content-writer/book-writing-services.php [NC,L]
ReWriteRule ^movie-script-services([/]?)$ pages/content-writer/movie-script-services.php [NC,L]

ReWriteRule ^magazines-writing-service([/]?)$ pages/content-writer/magazines-writing-service.php [NC,L]
ReWriteRule ^game-script-writing-services([/]?)$ pages/content-writer/game-script-writing-services.php [NC,L]
ReWriteRule ^graphic-design-virtual-assistant([/]?)$ pages/dedicated-designer/graphic-design-virtual-assistant.php [NC,L]
ReWriteRule ^virtual-assistant-for-mobile-app-development([/]?)$ pages/dedicated-designer/virtual-assistant-for-mobile-app-development.php [NC,L]
ReWriteRule ^ui-ux-design-virtual-assistant([/]?)$ pages/dedicated-designer/ui-ux-design-virtual-assistant.php [NC,L]
ReWriteRule ^hire-web-designers([/]?)$ pages/dedicated-designer/web-designer.php [NC,L]
ReWriteRule ^hire-multimedia-animation-experts([/]?)$ pages/dedicated-designer/multimedia-animation.php [NC,L]
ReWriteRule ^hire-photoshop-experts([/]?)$ pages/dedicated-designer/photoshop_expert.php [NC,L]
ReWriteRule ^hire-logo-designers([/]?)$ pages/dedicated-designer/logo_designer.php [NC,L]
ReWriteRule ^hire-indesign-experts([/]?)$ pages/dedicated-designer/indesign_expert.php [NC,L]
ReWriteRule ^hire-illustrator-experts([/]?)$ pages/dedicated-designer/illustrators.php [NC,L]
ReWriteRule ^hire-business-card-designers([/]?)$ pages/dedicated-designer/business_card.php [NC,L]
#ReWriteRule ^hire-multimedia-animation-expert([/]?)$ pages/dedicated-designer/multimedia-animation.php [NC,L]



ReWriteRule ^hire-amazon-virtual-assistant([/]?)$ pages/ecommerce-solutions/hire-amazon-virtual-assistant.php [NC,L]
ReWriteRule ^sales-funnel-development([/]?)$ pages/ecommerce-solutions/sales-funnel-development.php [NC,L]
ReWriteRule ^ecommerce-web-development([/]?)$ pages/ecommerce-solutions/ecommerce-web-development.php [NC,L]
ReWriteRule ^goggle-reviews([/]?)$ pages/ecommerce-solutions/goggle-reviews.php [NC,L]

ReWriteRule ^medical-billing-virtual-assistant([/]?)$ pages/medical-process-outsourcing/medical-billing-virtual-assistant.php [NC,L]
ReWriteRule ^insurance-verification-virtual-assistant([/]?)$ pages/medical-process-outsourcing/insurance-verification-virtual-assistant.php [NC,L]


ReWriteRule ^virtual-personal-assistant-services([/]?)$ pages/virtual-assistant/virtual-personal-assistant-services.php [NC,L]
ReWriteRule ^virtual-administrative-assistant-service([/]?)$ pages/virtual-assistant/virtual-administrative-assistant-service.php [NC,L]
ReWriteRule ^bookkeeping-service([/]?)$ pages/virtual-assistant/bookkeeping-service.php [NC,L]
ReWriteRule ^customer-support-virtual-assistant([/]?)$ pages/virtual-assistant/customer-support-virtual-assistant.php [NC,L]
ReWriteRule ^email-management-virtual-assistant([/]?)$ pages/virtual-assistant/email-management-virtual-assistant.php [NC,L]

ReWriteRule ^pricing([/]?)$ pages/pricing.php [NC,L]
ReWriteRule ^services([/]?)$ pages/services.php [NC,L]
ReWriteRule ^about([/]?)$ pages/about-us.php [NC,L]
ReWriteRule ^contact([/]?)$ pages/contact.php [NC,L]
ReWriteRule ^blogs([/]?)$ pages/blogs/blogs.php [NC,L]
ReWriteRule ^blog([/]?)$ pages/blogs/blog.php [NC,L]
ReWriteRule ^author([/]?)$ pages/blogs/author_profile.php [NC,L]

ReWriteRule ^ecommerce-solutions-service([/]?)$ pages/ecommerce-solutions/_index.php [NC,L]


