RewriteEngine on

Options -Indexes


RewriteCond %{HTTP_HOST} ^www\.hirecoworker\.com [NC]
RewriteRule ^(.*)$ https://hirecoworker.com/$1 [L,R=301]


# This rule alow user to access file
RewriteCond %{REQUEST_FILENAME} !-f
#=============================================================================================================
#
ErrorDocument 404 https://hirecoworker.com/404
#

#
#=============================================================================================================
#=============================================================================================================
#
# Home page route
ReWriteRule ^$ pages/home.php [NC,L]

#
#=============================================================================================================
#

#404 error pages
ReWriteRule ^404([/]?)$ pages/error/404.php [NC,L] 

#sitemap
RewriteRule ^sitemap\.xml/?$ sitemap.xml
# RewriteRule ^sitemap\.html/?$ sitemap.html.php





ReWriteRule ^hire-digital-marketer([/]?)$ pages/digital-marketing/_index.php [NC,L]
ReWriteRule ^amazon-marketing-services([/]?)$ pages/digital-marketing/amazon-marketing-services.php [NC,L]
ReWriteRule ^backlink-building-virtual-assistant([/]?)$ pages/digital-marketing/backlink-building-virtual-assistant.php [NC,L]
ReWriteRule ^google-business-profile-virtual-assistant([/]?)$ pages/digital-marketing/google-business-profile-virtual-assistant.php [NC,L]
ReWriteRule ^hire-seo-virtual-assistant-specialist([/]?)$ pages/digital-marketing/hire-seo-virtual-assistant-specialist.php [NC,L]
ReWriteRule ^va-for-social-media-marketing([/]?)$ pages/digital-marketing/va-for-social-media-marketing.php [NC,L]
ReWriteRule ^email-marketing-virtual-assistant([/]?)$ pages/digital-marketing/email-marketing-virtual-assistant.php [NC,L]
ReWriteRule ^franchise-seo-services([/]?)$ pages/digital-marketing/franchise-seo-services.php [NC,L]
ReWriteRule ^best-ppc-virtual-assistant([/]?)$ pages/digital-marketing/best-ppc-virtual-assistant.php [NC,L]
ReWriteRule ^content-marketing-services([/]?)$ pages/digital-marketing/content-marketing-services.php [NC,L]
ReWriteRule ^conversion-rate-optimization([/]?)$ pages/digital-marketing/conversion-rate-optimization.php [NC,L]
# ReWriteRule ^hire-digital-marketer/([0-9A-za-z\-]+)([/]?)$ pages/digital-marketing/$1.php [NC,L]
ReWriteRule ^reputation-management-services([/]?)$ pages/digital-marketing/reputation-management-services.php [NC,L]
ReWriteRule social-media-handler([/]?)$ pages/digital-marketing/social-media-handler.php [NC,L]


ReWriteRule ^it-outsourcing-services([/]?)$ pages/it-outsourcing/_index.php [NC,L]
ReWriteRule ^va-web-development([/]?)$ pages/it-outsourcing/va-web-development.php [NC,L]
ReWriteRule ^software-development-va([/]?)$ pages/it-outsourcing/software-development-va.php [NC,L]
ReWriteRule ^cms-development([/]?)$ pages/it-outsourcing/cms-development.php [NC,L]
#ReWriteRule ^ecommerce-web-development([/]?)$ pages/it-outsourcing/ecommerce-web-development.php [NC,L]
ReWriteRule ^frontend-development-services([/]?)$ pages/it-outsourcing/frontend-development-services.php [NC,L]
ReWriteRule ^database-development-services([/]?)$ pages/it-outsourcing/database-development-services.php [NC,L]
ReWriteRule ^it-security-services([/]?)$ pages/it-outsourcing/it-security-services.php [NC,L]
ReWriteRule ^machinelearning-service([/]?)$ pages/it-outsourcing/machinelearning-service.php [NC,L]
ReWriteRule ^network-installation([/]?)$ pages/it-outsourcing/network-installation.php [NC,L]
ReWriteRule ^backend-development-services([/]?)$ pages/it-outsourcing/backend-development-services.php [NC,L]
ReWriteRule ^full-stack-development-services([/]?)$ pages/it-outsourcing/full-stack-development-services.php [NC,L]




ReWriteRule ^hire-developers/([0-9A-za-z\-]+)([/]?)$ pages/hire-developers/$1.php [NC,L]
ReWriteRule ^hire-developers([/]?)$ pages/hire-developers/_index.php [NC,L]







ReWriteRule ^hire-finance-accounts-experts([/]?)$ pages/finance-accounts-experts/_index.php [NC,L]
ReWriteRule ^payroll([/]?)$ pages/finance-accounts-experts/payroll.php [NC,L]
ReWriteRule ^tax-preparation-services([/]?)$ pages/finance-accounts-experts/tax-preparation-services.php [NC,L]



ReWriteRule ^hire-professional-mobile-app-developers([/]?)$ pages/mobile-apps-developers/_index.php [NC,L]
ReWriteRule ^android-app-development([/]?)$ pages/mobile-apps-developers/android-app-development.php [NC,L]
ReWriteRule ^app-maintanance-sevices([/]?)$ pages/mobile-apps-developers/app-maintanance-sevices.php [NC,L]
ReWriteRule ^augmented-reality-development([/]?)$ pages/mobile-apps-developers/augmented-reality-development.php [NC,L]
ReWriteRule ^ios-development([/]?)$ pages/mobile-apps-developers/ios-development.php [NC,L]
ReWriteRule ^hybrid-app-development([/]?)$ pages/mobile-apps-developers/hybrid-app-development.php [NC,L]
ReWriteRule ^native-app-developers([/]?)$ pages/mobile-apps-developers/native-app-developers.php [NC,L]
ReWriteRule ^mobile-game-development([/]?)$ pages/mobile-apps-developers/mobile-game-development.php [NC,L]
ReWriteRule wearable-mobile-developers([/]?)$ pages/mobile-apps-developers/wearable-mobile-developers.php [NC,L]
ReWriteRule custom-app-development([/]?)$ pages/mobile-apps-developers/custom-app-development.php [NC,L]
ReWriteRule migration-app-porting([/]?)$ pages/mobile-apps-developers/migration-app-porting.php [NC,L]
ReWriteRule xamarin-app-development([/]?)$ pages/mobile-apps-developers/xamarin-app-development.php [NC,L]
ReWriteRule ^windows-application-development([/]?)$ pages/mobile-apps-developers/windows-application-development.php [NC,L]





ReWriteRule ^hire-engineers-architects([/]?)$ pages/engineers-architecture/_index.php [NC,L]
ReWriteRule ^architectural-drafting([/]?)$ pages/engineers-architecture/architectural-drafting.php [NC,L]
ReWriteRule ^autocad([/]?)$ pages/engineers-architecture/autocad.php [NC,L]
ReWriteRule ^civil-engineering([/]?)$ pages/engineers-architecture/civil-engineering.php [NC,L]
ReWriteRule ^construction-drawing([/]?)$ pages/engineers-architecture/construction-drawing.php [NC,L]
ReWriteRule ^electronics-engineering([/]?)$ pages/engineers-architecture/electronics-engineering.php [NC,L]
ReWriteRule ^electrical-engineering([/]?)$ pages/engineers-architecture/electrical-engineering.php [NC,L]
ReWriteRule ^mep-engineering([/]?)$ pages/engineers-architecture/mep-engineering.php [NC,L]
ReWriteRule ^mechanical-engineering([/]?)$ pages/engineers-architecture/mechanical-engineering.php [NC,L]



ReWriteRule ^legal-outsourcing-services([/]?)$ pages/legal-process-outsourcing/_index.php [NC,L]
ReWriteRule ^hire-dedicated-designers([/]?)$ pages/dedicated-designer/_index.php [NC,L]
ReWriteRule ^medical-process-outsourcing([/]?)$ pages/medical-process-outsourcing/_index.php [NC,L]
ReWriteRule ^virtual-assistant([/]?)$ pages/virtual-assistant/_index.php [NC,L]
ReWriteRule ^outsource-to-india([/]?)$ pages/outsource_india/_index.php [NC,L]

ReWriteRule ^hire-content-writer([/]?)$ pages/content-writer/_index.php [NC,L]

ReWriteRule ^academic-&-curriculum([/]?)$ pages/content-writer/academic-&-curriculum.php [NC,L]
ReWriteRule ^article-writer([/]?)$ pages/content-writer/article-writer.php [NC,L]
#ReWriteRule ^hire-article-writer([/]?)$ pages/content-writer/article-writer.php [NC,L]
ReWriteRule ^book-writing-services([/]?)$ pages/content-writer/book-writing-services.php [NC,L]
ReWriteRule ^ebook&brochur([/]?)$ pages/content-writer/ebook&brochur.php [NC,L]
ReWriteRule ^editing-&-proofreading([/]?)$ pages/content-writer/editing-&-proofreading.php [NC,L]
ReWriteRule ^fiction([/]?)$ pages/content-writer/fiction.php [NC,L]
ReWriteRule ^landing&sales([/]?)$ pages/content-writer/landing&sales.php [NC,L]
ReWriteRule ^legal-content([/]?)$ pages/content-writer/legal-content.php [NC,L]
ReWriteRule ^movie-script-services([/]?)$ pages/content-writer/movie-script-services.php [NC,L]
ReWriteRule ^press-release-&-newsletters([/]?)$ pages/content-writer/press-release-&-newsletters.php [NC,L]
ReWriteRule ^product-&-services-descriptions([/]?)$ pages/content-writer/product-&-services-descriptions.php [NC,L]
ReWriteRule ^technical-medical([/]?)$ pages/content-writer/technical-medical.php [NC,L]
ReWriteRule ^website-&-seo-content([/]?)$ pages/content-writer/website-&-seo-content.php [NC,L]
ReWriteRule ^social-media-content([/]?)$ pages/content-writer/social-media-content.php [NC,L]
ReWriteRule ^speeches-&-reviews([/]?)$ pages/content-writer/speeches-&-reviews.php [NC,L]
ReWriteRule ^travel-&-lifestyle([/]?)$ pages/content-writer/travel-&-lifestyle.php [NC,L]
ReWriteRule ^whitepaper-in-marketing([/]?)$ pages/content-writer/whitepaper-in-marketing.php [NC,L]



ReWriteRule ^cv-&-cover-letter([/]?)$ pages/content-writer/cv-&-cover-letter.php [NC,L]
ReWriteRule ^magazines-writing-service([/]?)$ pages/content-writer/magazines-writing-service.php [NC,L]
ReWriteRule ^game-script-writing-services([/]?)$ pages/content-writer/game-script-writing-services.php [NC,L]
ReWriteRule ^graphic-design-virtual-assistant([/]?)$ pages/dedicated-designer/graphic-design-virtual-assistant.php [NC,L]
ReWriteRule ^virtual-assistant-for-mobile-app-development([/]?)$ pages/dedicated-designer/virtual-assistant-for-mobile-app-development.php [NC,L]
ReWriteRule ^ui-ux-design-virtual-assistant([/]?)$ pages/dedicated-designer/ui-ux-design-virtual-assistant.php [NC,L]
ReWriteRule ^hire-web-designers([/]?)$ pages/dedicated-designer/web-designer.php [NC,L]
ReWriteRule ^hire-multimedia-animation-experts([/]?)$ pages/dedicated-designer/multimedia-animation.php [NC,L]
ReWriteRule ^hire-multimedia-animation-experts([/]?)$ pages/dedicated-designer/multimedia-animation.php [NC,L]
ReWriteRule ^ui-ux-design-virtual-assistant([/]?)$ pages/dedicated-designer/ui-ux-design-virtual-assistant.php [NC,L]
ReWriteRule ^hire-photoshop-experts([/]?)$ pages/dedicated-designer/photoshop_expert.php [NC,L]
ReWriteRule ^hire-logo-designers([/]?)$ pages/dedicated-designer/logo_designer.php [NC,L]
ReWriteRule ^hire-indesign-experts([/]?)$ pages/dedicated-designer/indesign_expert.php [NC,L]
ReWriteRule ^hire-illustrator-experts([/]?)$ pages/dedicated-designer/illustrators.php [NC,L]
ReWriteRule ^hire-business-card-designers([/]?)$ pages/dedicated-designer/business_card.php [NC,L]
#ReWriteRule ^hire-multimedia-animation-expert([/]?)$ pages/dedicated-designer/multimedia-animation.php [NC,L]

ReWriteRule ^digital-production-services([/]?)$ pages/digital-production-services/_index.php [NC,L]
ReWriteRule ^video-production-services([/]?)$ pages/digital-production-services/video-production-services.php [NC,L]
ReWriteRule ^video-topic-strategist([/]?)$ pages/digital-production-services/video-topic-strategist.php [NC,L]
ReWriteRule ^cameramans-services([/]?)$ pages/digital-production-services/cameramans-services.php [NC,L]
ReWriteRule ^wedding-video-shooting-services([/]?)$ pages/digital-production-services/wedding-video-shooting-services.php [NC,L]



ReWriteRule ^hire-amazon-virtual-assistant([/]?)$ pages/ecommerce-solutions/hire-amazon-virtual-assistant.php [NC,L]
ReWriteRule ^sales-funnel-development([/]?)$ pages/ecommerce-solutions/sales-funnel-development.php [NC,L]
ReWriteRule ^chargebacks-handling([/]?)$ pages/ecommerce-solutions/chargebacks-handling.php [NC,L]
ReWriteRule ^ecommerce-web-development([/]?)$ pages/ecommerce-solutions/ecommerce-web-development.php [NC,L]
ReWriteRule ^dropshipping-virtual-assistant([/]?)$ pages/ecommerce-solutions/dropshipping-virtual-assistant.php [NC,L]
ReWriteRule ^e-bay-services([/]?)$ pages/ecommerce-solutions/e-bay-services.php [NC,L]
ReWriteRule ^goggle-reviews([/]?)$ pages/ecommerce-solutions/goggle-reviews.php [NC,L]
ReWriteRule ^customer-mail-handling([/]?)$ pages/ecommerce-solutions/customer-mail-handling.php [NC,L]
ReWriteRule ^walmart-virtual-assistant([/]?)$ pages/ecommerce-solutions/walmart-virtual-assistant.php [NC,L]

ReWriteRule ^medical-billing-virtual-assistant([/]?)$ pages/medical-process-outsourcing/medical-billing-virtual-assistant.php [NC,L]
ReWriteRule ^insurance-verification-virtual-assistant([/]?)$ pages/medical-process-outsourcing/insurance-verification-virtual-assistant.php [NC,L]


ReWriteRule ^virtual-personal-assistant-services([/]?)$ pages/virtual-assistant/virtual-personal-assistant-services.php [NC,L]
ReWriteRule ^virtual-administrative-assistant-service([/]?)$ pages/virtual-assistant/virtual-administrative-assistant-service.php [NC,L]
ReWriteRule ^bookkeeping-service([/]?)$ pages/virtual-assistant/bookkeeping-service.php [NC,L]
ReWriteRule ^customer-support-virtual-assistant([/]?)$ pages/virtual-assistant/customer-support-virtual-assistant.php [NC,L]
ReWriteRule ^email-management-virtual-assistant([/]?)$ pages/virtual-assistant/email-management-virtual-assistant.php [NC,L]

ReWriteRule ^pricing([/]?)$ pages/pricing.php [NC,L]
ReWriteRule ^services([/]?)$ pages/services.php [NC,L]
ReWriteRule ^why-choose([/]?)$ pages/why-choose.php [NC,L]

ReWriteRule ^about([/]?)$ pages/about-us.php [NC,L]
ReWriteRule ^contact([/]?)$ pages/contact.php [NC,L]
ReWriteRule ^demo([/]?)$ pages/demo.php [NC,L]
ReWriteRule ^blogs([/]?)$ pages/blogs/blogs.php [NC,L]
ReWriteRule ^blog([/]?)$ pages/blogs/blog.php [NC,L]
ReWriteRule ^author([/]?)$ pages/blogs/author_profile.php [NC,L]

ReWriteRule ^ecommerce-solutions-service([/]?)$ pages/ecommerce-solutions/_index.php [NC,L]


ReWriteRule ^movies-production-services([/]?)$ pages/movies-production-services/_index.php [NC,L]
ReWriteRule ^movie-script-services([/]?)$ pages/movies-production-services/movie-script-services.php [NC,L]
ReWriteRule ^movie-director-services([/]?)$ pages/movies-production-services/movie-director-services.php [NC,L]
ReWriteRule ^movie-cameraman-services([/]?)$ pages/movies-production-services/movie-cameraman-services.php [NC,L]
ReWriteRule ^hire-actor-actrees([/]?)$ pages/movies-production-services/hire-actor-actrees.php [NC,L]
ReWriteRule ^short-movies([/]?)$ pages/movies-production-services/short-movies.php [NC,L]



