/* testimonial section */
.testimonial-section {
  padding: 5% 8%;
}

.testimonial-section .main-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2%;
}
.testimonial-section .text {
  font-size: 16px;
}
.test-item {
  padding: 5%;
  background-color: #f1f8fb;
  border-radius: 10px;
}
.test-item p {
  color: #222;
}
.test-item .test-user {
  margin-top: 20px;
}
.test-item .user-img {
  width: 60px;
  height: 60px;
}
.test-item .user-img img {
  border-radius: 50%;
  width: 100%;
}
.test-item .qoute {
  font-size: 3rem;
  color: var(--dark-color);
}
.test-item .test-user h4 {
  color: var(--dark-color);
}
p.test_name_designation{
  color: var(--dark-color);
  font-weight: bold;
}

.test-item .test-user .test-user-dtl {
  margin-left: 10px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
  .testimonial-section {
    padding: 5% !important;
  }
  .hire-services-btn-div {
    margin: 2% auto 0 auto !important;
  }
}
@media screen and (max-width: 800px) {
  .test-item {
    padding: 3%;
  }
  .testimonial-section .text {
    font-size: 14px;
  }
}
