/* -------------------------- */
/*  Pricing page landing section */
/* -------------------------- */

.pricing-landing {
  height: 320px;
  background-color: var(--dark-color);
  color: var(--white);
  text-align: center;
  padding: 5%;
}
.pricing-ladning-content > p {
  font-size: 20px;
  margin-top: 1%;
}

.pricing-box > h2 {
  text-align: center;
  margin: 2% 0;
}

/* -------------------------- */
/*  Second section about */
/* -------------------------- */

.second-about {
  padding: 5% 8%;
}

.second-about-grid-left > h2 {
  margin-bottom: 4%;
}

.second-about-grid-left > ul > li {
  margin: 2% 0;
  color: var(--dark-color);
}

.second-about-grid-left > ul > li > ion-icon {
  color: var(--pink);
  font-size: 50px;
  margin-right: 3%;
}
.second-about-grid-left > ul > li > i {
  color: var(--pink);
  font-size: 26px;
  margin-right: 3%;
}
.second-about-grid-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* -------------------------- */
/* Third section about */
/* -------------------------- */

.third-about > h2 {
  text-align: center;
  margin-bottom: 5%;
}

.third-about-grid {
  grid-template-columns: 35% 1fr;
  grid-gap: 5%;
  padding: 2% 0;
}

.third-about-grid-reverse {
  grid-template-columns: 1fr 35%;
}

.third-about-grid-img {
  height: 280px;
  width: 280px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 50%;
  border: 1px solid var(--light-font-color);
}

.third-about-grid-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.third-about-grid-content > h3 {
  margin-bottom: 4%;
}

/* -------------------------- */
/* Fourth section about */
/* -------------------------- */

.fourth-about > h2 {
  margin-bottom: 5%;
  text-align: center;
}

.cards-parent {
  border: 1px solid var(--light-font-color);
  padding: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 8px;
  margin: 2%;
}

.cards-img > img {
  height: 220px;
  width: 100%;
}

.cards-content {
  text-align: center;
  padding: 5% 0;
}

.cards-content > h3 {
  color: var(--dark-color);
  margin-bottom: 3%;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}

.cards-content > p {
  text-align: justify;
}
.cards-grid-container{
  gap: 0;
}

@media(max-width:992px){
  .cards-grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .second-about-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .second-about-grid-right{
    order: 1;
  }
  .second-about-grid-left{
    order: 2;
  }
  .second-about-grid-left h3{
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .third-about-grid {
    grid-template-columns: 1fr;
    grid-gap: 0%;
    place-items: center;
  }

  .third-about-grid-reverse {
    grid-template-columns: 1fr;
  }
  .third-about-grid-img {
    margin-bottom: 5%;
    order: 1;
  }

  .third-about-grid-content {
    margin-bottom: 5%;
    text-align: justify;
    order: 2;
  }

  .cards-parent {
    margin-bottom: 5%;
  }
}
@media (max-width:600px){
  .cards-grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
